<div ng-controller="customerController" ng-init="Display=2">

    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="Display=2">
            <span class="glyphicon glyphicon-eye-open "></span> View Customer
        </button>
        <button type="button" class="btn btn-default" ng-click="Display=1">
            <span class="glyphicon glyphicon-plus-sign "></span>
            Add Customer
        </button>
    </div>
    <br />
    <br />
    <div class="panel panel-primary" ng-if="Display==2">
        <div class="panel-heading">
            <h2 class="panel-title">View Customer</h2>
        </div>
        <div class="panel-body">
            <loader show-Loading="showLoading" array-Length="CustomerDetails.length"></loader>

            <table ng-if="!showLoading && CustomerDetails.length > 0" class="table table-bordered table-condensed table-hover table-responsive table-striped ">
                <tr>
                    <td colspan="2"><b> Customer Id</b></td>
                    <td><b> Customer Name</b></td>
                    <td><b>Contact Name</b> </td>
                    <td><b>Contact Details</b></td>
                    <td align="center"><b>Action</b></td>
                </tr>
                <tbody ng-repeat="cusde in CustomerDetails">

                    <tr>
                        <td style="cursor:pointer" align="center">
                            <span ng-click="cusde.SelectedOption=false" ng-if="cusde.SelectedOption" class="glyphicon glyphicon-plus"></span>
                            <span ng-click="cusde.SelectedOption=true" ng-if="!cusde.SelectedOption" class="glyphicon glyphicon-remove"></span>
                        </td>
                        <td>{{cusde.CustomerId}}</td>
                        <td>{{cusde.CompanyName}}</td>
                        <td>{{cusde.ContactName}} </td>
                        <td>{{cusde.ContactTitle}}</td>
                        <td align="center"><span class="glyphicon glyphicon-remove-circle" ng-click="deleteCustomer(cusde)"></span></td>
                    </tr>
                    <tr ng-if="!cusde.SelectedOption">
                        <td></td>
                        <td colspan="5">
                            <table class="table table-bordered table-condensed table-hover table-responsive table-striped ">
                                <tr>
                                    <td><b>Address</b></td>
                                    <td><b>Cit</b>y</td>
                                    <td><b>Country</b></td>
                                    <td><b>Fax</b></td>
                                    <td><b>Phone</b></td>
                                    <td><b>PostalCode</b></td>
                                    <td><b>Region</b></td>
                                </tr>
                                <tr ng-repeat="cusadd in cusde.addressDetails">
                                    <td>{{cusadd.Address}}</td>
                                    <td>{{cusadd.City}}</td>
                                    <td>{{cusadd.Country}}</td>
                                    <td>{{cusadd.Fax}}</td>
                                    <td>{{cusadd.Phone}}</td>
                                    <td>{{cusadd.PostalCode}}</td>
                                    <td>{{cusadd.Region}}</td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <notification-Display divid="object2" action="ClickOnCustomer()" modaltext="modalDisplay"></notification-Display>
    <!-- Input Area Display=1 then Add Customer -->
    <div class="panel panel-primary" ng-if="Display==1">
        <div class="panel-heading">
            <h2 class="panel-title">Customers </h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>
                            <b>Customer Id</b>
                        </label>
                        <input type="text" placeholder="Customer Id" class="form-control" ng-model="customer.CustomerId" />
                    </div>
                    <div class="col-md-4">
                        <label>
                            <b>  Company Name</b>
                        </label>
                        <input type="text" placeholder="Customer Name" class="form-control" ng-model="customer.CompanyName" />
                    </div>
                    <div class="col-md-4">
                        <label>
                            <b> Contact Name</b>
                        </label>
                        <input type="text" placeholder="Contact Name" class="form-control" ng-model="customer.ContactName" />
                    </div>
                    <div class="col-md-4">
                        <label>
                            <b>Contact Title</b>
                        </label>
                        <input type="text" placeholder="Contact Title" class="form-control" ng-model="customer.ContactTitle" />
                    </div>

                </div>
                <lbale>*Add Multiple Address</lbale>
                <div class="form-group">
                    <div class="col-md-4">
                        <label><b>Address</b></label>
                        <input type="text" class="form-control" placeholder="Address" ng-model="addressDetails.Address" />
                    </div>
                    <div class="col-md-4">
                        <label><b>City</b></label>
                        <input type="text" class="form-control" placeholder="Address" ng-model="addressDetails.City" />
                    </div>
                    <div class="col-md-4">
                        <label><b>Region</b></label>
                        <input type="text" class="form-control" placeholder="Address" ng-model="addressDetails.Region" />
                    </div>
                    <div class="col-md-4">
                        <label><b>PostalCode</b></label>
                        <input type="text" class="form-control" placeholder="Postal Code" ng-model="addressDetails.PostalCode" />
                    </div>
                    <div class="col-md-4">
                        <label><b>Country</b></label>
                        <input type="text" class="form-control" placeholder="Country" ng-model="addressDetails.Country" />
                    </div>
                    <div class="col-md-4">
                        <label><b>Phone</b></label>
                        <input type="text" class="form-control" placeholder="Phone" ng-model="addressDetails.Phone" />
                    </div>
                    <div class="col-md-4">
                        <label><b>Fax</b></label>
                        <input type="text" class="form-control" placeholder="Fax" ng-model="addressDetails.Fax" />
                    </div>
                    <div class="col-md-4">
                        <br />
                        <input type="button" value="Add Address" class="btn btn-primary" ng-click="AddAddress(addressDetails)" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-condensed table-striped table-hover table-hover">
                            <tr>
                                <td colspan="2">
                                    Customer Id
                                </td>
                                <td colspan="2">
                                    Company Name
                                </td>
                                <td colspan="2">
                                    Customer Name
                                </td>
                                <td>
                                    Customer Title
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    {{customer.CustomerId}}
                                </td>
                                <td colspan="2">
                                    {{customer.CompanyName}}
                                </td>
                                <td colspan="2">
                                    {{customer.ContactName}}
                                </td>
                                <td>
                                    {{customer.ContactTitle}}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>City</td>
                                <td>Region</td>
                                <td>PostalCode</td>
                                <td>Country</td>
                                <td>Phone</td>
                                <td>Fax</td>
                            </tr>
                            <tr ng-repeat=" add in customer.addressDetails track by $index">
                                <td>{{add.Address}}</td>
                                <td>{{add.City}}</td>
                                <td>{{add.Region}}</td>
                                <td>{{add.PostalCode}}</td>
                                <td>{{add.Country}}</td>
                                <td>{{add.Phone}}</td>
                                <td>{{add.Fax}}</td>
                                <notification-Display divid="object1" action="ClickOnFund(selectedFund)" modaltext="modalDisplay"></notification-Display>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12">
                       
                        <input ng-disabled="btnTitle != 'Save'" type="button" class="btn btn-block btn-primary" value="{{btnTitle}}" ng-click="SaveCustomerDetails(customer)" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>