<div ng-controller="FundController">
    
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Funds</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>Fund Name</label>
                        <input type="text" placeholder="Fund Name" ng-model="funds.FundName" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Fund Code</label>
                        <input type="text" placeholder="Fund Code" ng-model="funds.FundCode" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Allowed Perecentage Allocation</label>
                        <input type="text" placeholder="Allowed Percentage Allocation" ng-model="funds.AllowedFundPercentageAllocation" class="form-control" />
                    </div>
                </div>
                <div>
                    <div class="col-md-3">
                        <br />
                        <input type="button" class="btn btn-block btn-danger" value="Save" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Funds</h2>
            </div>
            
            <div class="panel-body"  >
                <div class="spinner" ng-if="showLoading">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <table ng-if="!showLoading" class="table table-bordered table-condensed table-hover table-responsive table-striped">
                    <tr>
                        <td>Fund Name</td>
                        <td>Fund Code</td>
                        <td>Allowed Fund % Allocation</td>
                        <td colspan="2" align="center">
                            Action
                        </td>
                    </tr>
                    <tr ng-repeat="fu in Fund | orderBy:$index">
                        <td>{{fu.FundName}}</td>
                        <td>{{fu.FundCode}}</td>
                        <td>{{fu.AllowedFundPercentageAllocation}}</td>
                        <td class="handCursor"  align="center">
                            <span class="glyphicon glyphicon-edit"></span>                            
                        </td>
                        <td class="handCursor" align="center">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>