<div ng-controller="FundController">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Funds</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>Fund Name</label>
                        <input type="text" placeholder="Fund Name" ng-model="funds.FundName" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Fund Code</label>
                        <input type="text" placeholder="Fund Code" ng-model="funds.FundCode" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Allowed Perecentage Allocation</label>
                        <input type="text" placeholder="Allowed Percentage Allocation" ng-model="funds.AllowedFundPercentageAllocation" class="form-control" />
                    </div>
                </div>
                <div>
                    <div class="col-md-3">
                        <br />
                        <input ng-disabled="btnTitle!='Save'" type="button" class="btn btn-block btn-danger" value="{{btnTitle}}" ng-click="InsertFundDetails(funds)" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Funds</h2>
            </div>

            <div class="panel-body">
                <div class="spinner" ng-if="showLoading">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div class="noRecordFound" ng-if="!showLoading && Fund.length<=0">
                    No Record Found !
                </div>
                <table ng-if="!showLoading && Fund.length > 0" class="table table-bordered table-condensed table-hover table-responsive table-striped">
                    <tr>
                        <td colspan="5">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Please type Fund Name" ng-model="SearchfundName" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Fund Name</td>
                        <td>Fund Code</td>
                        <td>Allowed Fund % Allocation</td>
                        <td colspan="2" align="center">
                            Action
                        </td>
                    </tr>
                    <tr ng-repeat="fu in Fund | orderBy:$index | filter :SearchfundName">
                        <td>
                            <span ng-if="EditModeIndex!=$index">
                                {{fu.FundName}}
                            </span>

                            <span ng-if="EditModeIndex==$index">
                                <input type="text" placeholder="Fund Name" ng-model="fundDetails.FundName" class="form-control" />
                            </span>
                        </td>
                        <td>
                            <span ng-if="EditModeIndex!=$index">
                                {{fu.FundCode}}
                            </span>
                            <span ng-if="EditModeIndex==$index">
                                <input type="text" placeholder="Fund Code" ng-model="fundDetails.FundCode" class="form-control" />
                            </span>
                        </td>
                        <td>
                            <span ng-if="EditModeIndex!=$index">
                                {{fu.AllowedFundPercentageAllocation}}
                            </span>
                            <span ng-if="EditModeIndex==$index">
                                <input type="text" placeholder="Allowed Percentage Allocation" ng-model="fundDetails.AllowedFundPercentageAllocation" class="form-control" />
                            </span>
                        </td>
                        <td class="handCursor" align="center" ng-click="EditFund('object1',fu,$index)">
                            <span ng-if="EditModeIndex!=$index" class="glyphicon glyphicon-edit"></span>
                            <span ng-click="ClickOnCancelBtn(fu,$index)" ng-if="EditModeIndex==$index" class="glyphicon glyphicon-ok"></span>
                        </td>
                        <td class="handCursor" align="center" ng-click="delete('object1',fu)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </td>
                        <notification-Display divid="object1" action="ClickOnFund(selectedFund)" modaltext="modalDisplay"></notification-Display>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>