<div ng-controller="FundController">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Funds</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-4">
                        <label>Fund Name</label>
                        <input type="text" placeholder="Fund Name" ng-model="funds.FundName" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Fund Code</label>
                        <input type="text" placeholder="Fund Code" ng-model="funds.FundCode" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label>Allowed Perecentage Allocation</label>
                        <input type="text" placeholder="Allowed Percentage Allocation" ng-model="funds.AllowedFundPercentageAllocation" class="form-control" />
                    </div>
                </div>
                <div>
                    <div class="col-md-3">
                        <br />
                        <input type="button" class="btn btn-block btn-danger" value="Save" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Funds</h2>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>