<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/app.js"></script>
<div ng-app="mainApp" ng-controller="mainController">
    <h1>
        Welcome to Custom Directive Example {{UserDetails.UserId}}
    </h1>
    {{UserDetails|json}}
    <div ng-controller="Controller1">
        @*<custom-Directive title="UserDetails[0].UserId" username="UserDetails[0].UserName"></custom-Directive>*@
        <custom-Directive userdetails="UserDetails[0]"></custom-Directive>
    </div>
    <div ng-controller="Controller2">
        @*<custom-Directive title="UserDetails[1].UserId" username="UserDetails[1].UserName"></custom-Directive>*@
        <custom-Directive userdetails="UserDetails[1]"></custom-Directive>
    </div>
    <div ng-controller="Controller3">
        @*<custom-Directive title="UserDetails[2].UserId" username="UserDetails[2].UserName"></custom-Directive>*@
        <custom-Directive userdetails="UserDetails[2]"></custom-Directive>
    </div>
</div>
