@{
    ViewBag.Title = "Partial View Example";
}

<h2>@ViewBag.Message</h2>
<div>
    <div class="row">
        <div class="col-md-6">
            @{
                Html.RenderAction("RenderTeacher");
            }
        </div>
        <div class="col-md-6">
            @{
                Html.RenderAction("RenderStudent");
            }
        </div>
    </div>
    <div class="row">
          <div class="col-md-6">
            @{
                Html.RenderAction("RenderDepartment");
            }
        </div>
    </div>
</div>

