<html>
<head>
    <title>Span Itreation Example</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <span>
        <span class="dynatree-container dynatree-has-children dynatree-has-exapanded">
            <span class="dynatree-tree-option"></span>
            <span class="dynatree-checkbox">
                <input type="checkbox" value="China" />
            </span>
            <span class="dynatree-title"></span>
        </span>
        <span class="dynatree-container dynatree-has-children dynatree-has-exapanded">
            <span class="dynatree-tree-option"></span>
            <span class="dynatree-checkbox">
                <input type="checkbox" value="China" />
            </span>
            <span class="dynatree-title"></span>
        </span>
        <span class="dynatree-container dynatree-has-children dynatree-has-exapanded">
            <span class="dynatree-tree-option"></span>
            <span class="dynatree-checkbox">
                <input type="checkbox" value="China" />
            </span>
            <span class="dynatree-title"></span>
        </span>
        <span class="dynatree-container dynatree-has-children dynatree-has-exapanded">
            <span class="dynatree-tree-option"></span>
            <span class="dynatree-checkbox">
                <input type="checkbox" value="China" />
            </span>
            <span class="dynatree-title"></span>
        </span>
        <span class="dynatree-container dynatree-has-children dynatree-has-exapanded">
            <span class="dynatree-tree-option"></span>
            <span class="dynatree-checkbox">
                <input type="checkbox" value="China" />
            </span>
            <span class="dynatree-title">China</span>
        </span>
    </span>
</body>
</html>