@{
    ViewBag.Title = "Dependency Injection Resolver";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/NomineeDetails/app.js"></script>
<div ng-app="NomineeApp">

    <div ng-include="'/Partials/NomineeDetails/NomineeDetails.html'">
    </div>
    <div ng-include="'/Partials/NomineeDetails/NomineeSiblingDetails.html'">
    </div>
</div>